spawn-sh-at-startup "sleep 10 && @filendesktop"

input {
    keyboard {
        xkb {
            layout "br"
            variant "abnt2"
        }
    }
}

environment {
   GLYCIN_DATA_DIR "/home/ian/.local/share/glycin-loaders"
}
