/* add this to template --aux: {{ mode | replace: "light", "FFFFFF" | replace: "dark", "000000" }};*/

/* 2. Forçando a fonte nas mensagens */
.messageContent-2t3eCI {
  font-family: "", sans-serif !important;
}

/* ──── Midnight theme ──────────────── */
body {
  /* 3. Define a fonte do Google como padrão do tema */
  --font: "", monospace;
  --custom-window-controls: off; /* off: default window controls, on: custom window controls */
  --custom-dms-icon: off; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
  --custom-chatbar: off;
  --gap: 12px;
  --border-thickness: 0px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

  --bg-3: color-mix(in srgb, var(--aux) 25%, var(--bg-4));
}
* {
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --divider-thickness: 4px;
}

/*
.container__8a031 /* popout modals //,
.menu_c1e9c4 /* context menus //,
.contentWrapper__08434 /* emoji/gif panel //,
.root__49fc1 /* modals like invite //,
.outer_c0bea0.user-profile-popout:not(.custom-theme-background) /* small profile popup //,
.autocomplete__6b0e0 /* autocomplete //,
.container__55c99 /* search suggestions //,
.messagesPopoutWrap_e8b59c /* inbox //,
.popout__76f04 /* channel hover popout //,
.bar__7aaec /* channel list new unreads bar //
{
  backdrop-filter: blur(32px) !important;
  background-color: rgb(from var(--active-2) r g b / 0.8) !important;
}
*/

/* ──── system24 theme ──────────────── */
/*
body {
    --font: 'Liga SFMono Nerd Font';
    --code-font: 'CozzeteVector'
    --small-user-panel: off;
    --panel-labels: off;
    --custom-dms-icon: off;
    --ascii-titles: on;
    --ascii-loader: system24;

    --border: var(--active);
    --border-active: var(--offline) !important;
}
*/
