[include]
files = [
    "environment.toml",
    "general.toml",
    "input.toml",
    "keybinds.toml",
    "layout.toml",
    "rules.toml",
    "appearence.toml",
    "animations.toml",
    "noctalia/keybinds.toml",
    "noctalia/colors.toml",
    "machines/{{ .chezmoi.hostname }}.toml",
]
