# config.toml

[include]
files = [
    "core/general.toml",
    "core/animations.toml",
    "core/appearence.toml",
    "core/input.toml",
    "core/keybinds.toml",
    "core/layout.toml",
    "core/rules.toml",
    "noctalia/keybinds.toml",
    "machines/{{ .chezmoi.hostname }}.toml",
]

[include.optional]
files = [
    "noctalia/colors.toml",
]
