// includes.kdl
// add 'include "user/includes.kdl"' to config.kdl
include "layout.kdl"
include "input.kdl"
include "binds.kdl"
include "windowrules.kdl"
include "environment.kdl"
include "noctalia.kdl" optional=true 
include "local.kdl" optional=true 

