layout {
    always-center-single-column

    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    border {
        on
        width 2
    }

    focus-ring {
        on
        width 2
    }

    shadow {
        on
        softness 30
        spread 5
        color "#00000070"
        inactive-color "#00000020"
        draw-behind-window true
    }

    tab-indicator {
        on
        place-within-column
        gap 0
        width 12
        position "left"
        gaps-between-tabs 0
        corner-radius 4
    }

    default-column-width
}

prefer-no-csd
