blur {
    passes 3
    offset 4
    noise 0.03
    saturation 1.35
}

// Frosted glass windows
window-rule {
     match app-id="org.pwmt.zathura"
     match app-id="ghostty"

    background-effect {
        blur true
    }
}

window-rule {
    match app-id="zen$" title="^Picture-in-Picture$"
    open-floating true
    open-maximized true
}

window-rule {
    match app-id="ghostty$"
    default-column-width { proportion 0.25; }
}


window-rule {
    match app-id="dev.noctalia.Noctalia.Settings"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}
