{{- if eq .chezmoi.hostname "nostromo" -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK7T4IbKdNhGOFyg/Ned2++ZSocFZuPWO8QB57IkVzSO ian.ribeiro4@gmail.com
{{- else if eq .chezmoi.hostname "vivobook" -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII9k/Ue58lshFmPI4G9hKLeWIL/TQIR+uUdZHJ4SfLIm ian.ribeiro4@gmail.com
{{- end -}}
