{{- if eq .chezmoi.hostname "nostromo" -}}
{{ (bitwarden "item" "GitHub Desktop").sshKey.publicKey }}
{{- else if eq .chezmoi.hostname "vivobook" -}}
{{ (bitwarden "item" "GitHub Vivobook").sshKey.publicKey }}
{{- end -}}
