{{- if eq .chezmoi.hostname "nostromo" -}}
{{ (bitwarden "item" "GitHub Desktop").sshKey.privateKey }}
{{- else if eq .chezmoi.hostname "vivobook" -}}
{{ (bitwarden "item" "GitHub Vivobook").sshKey.privateKey }}
{{- end -}}
