{{- if eq .chezmoi.hostname "nostromo" -}}
{{ (bitwarden "item" "SSH - GitHub Desktop").notes }}
{{- else if eq .chezmoi.hostname "vivobook" -}}
{{ (bitwarden "item" "SSH - GitHub Vivobook").notes }}
{{- end -}}
