blur {
    passes 3
    offset 4
    noise 0.03
    saturation 1.35
}

// Blurred overview background
layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

// General layer rules
layer-rule {
    background-effect {
        xray false
        blur false
    }
}
layer-rule {
    match namespace="^noctalia-(bar-[^\"]+|notification|panel|attached-panel|osd)$"
    background-effect {
        blur true
    }
}

// General window rules
window-rule {
    geometry-corner-radius 12
    background-effect {
        blur false
    }
}
// No xray on floating windows
window-rule {
    match is-floating=true
    background-effect {
        xray false
    }
}
// Frosted glass effect windows
window-rule {
    match app-id="org.pwmt.zathura"
    match app-id="ghostty"
    match app-id="vesktop"
    match app-id="zen"
    match app-id="(?i)zed$"

    background-effect {
        blur true
    }
    draw-border-with-background false
}

window-rule {
    match app-id="zen$" title="^Picture-in-Picture$"
    open-floating true
    open-maximized true
}
window-rule {
    match app-id="zen$" title="^Extension.*Zen Browser$"
    open-floating true
}
window-rule {
    match title=".*\\.(wav|mp3|flac|aac|ogg|m4a|opus).* - mpv"
    open-floating true
}

window-rule {
    match app-id="ghostty$"
    default-column-width { proportion 0.25; }
}

window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.75; }
    scroll-factor 1.25
}

window-rule {
    match app-id=r"org.quickshell$"
    match app-id=r"com.danklinux.dms$"

    match app-id=r"^org\.gnome\.Calculator$"
    match app-id=r"^org\.gnome\.Nautilus$"
    match app-id=r"^org\.gnome\.Loupe$"
    match app-id=r"^gnome-calculator$"
    match app-id=r"^galculator$"
    match app-id=r"^blueman-manager$"
    match app-id=r"^xdg-desktop-portal$"
    open-floating true
}
