@import url("https://comfy-themes.github.io/Spicetify/Comfy/app.css");

* {
  --accent: var(--spice-button-active);
  --bg: var(--spice-main);
  --surface: var(--spice-main-elevated);

  --background-tinted-base: color-mix(in srgb, var(--accent) 20%, transparent);
  --background-tinted-highlight: color-mix(in srgb, var(--accent) 25%, transparent);
  --accent-active: var(--background-tinted-base);
  --accent-active-hover: var(--background-tinted-highlight);

  --text-subdued: var(--spice-subtext) !important;
  --fg-color: var(--accent) !important;
  --is-active-fg-color: var(--spice-progress-fg) !important;
}

.Root__top-container {
  row-gap: 4px !important;
}

/* Siderbar items */
.main-yourLibraryX-filterArea *, [class^="main-home"] * {--background-tinted-base: var(--surface); }
[role="gridcell"] > * { background-color: unset !important; }
[role="gridcell"] { border-radius: 8px !important; }

/* Disable add to playlist button */
[aria-label="Add to playlist"] {
  display: none;
}

.main-actionBar-ActionBarPlayButtonContainer, .main-playButton-PlayButton {
  margin-top: unset !important;
}
.main-entityHeader-imageContainerWrapper:not(:has(> .main-entityHeader-imageContainerNew)) {
  margin-top: 15vh;
}
.main-entityHeader-container {
  margin-top: unset !important;
  background-image: linear-gradient(0deg, var(--spice-main), transparent 55%) !important;
}
#main.Header-Background .main-entityHeader-headerText {
  background-color: transparent !important;

}

[aria-selected="true"] > div { background-color: var(--accent-active) !important; }
[aria-selected="true"] > div:hover { background-color: var(--accent-active-hover) !important; }

.main-nowPlayingBar-center [aria-label="Pause"] > * {
  background-color: var(--accent) !important;
}
.main-nowPlayingBar-center [aria-label="Play"] > * {
  background-color: var(--spice-subtext) !important;
}
.main-trackList-rowImagePlayIcon {
  color: var(--spice-text);
}