binds {
    Mod+Shift+S { screenshot; }
    Mod+E { expand-column-to-available-width; }
    Mod+G { toggle-window-floating; }
    Mod+M { maximize-column; }
    Mod+Shift+M { expand-column-to-available-width; }
    Mod+Shift+C { center-visible-columns; }
    Mod+Alt+Up { focus-workspace-up; }
    Mod+Alt+Down { focus-workspace-down; }
    Mod+Alt+Left { focus-monitor-left; }
    Mod+Alt+Right { focus-monitor-right; }
    Mod+Shift+Up { move-window-up-or-to-workspace-up; }
    Mod+Shift+Down { move-window-down-or-to-workspace-down; }
    Mod+Shift+Left { move-column-left-or-to-monitor-left; }
    Mod+Shift+Right { move-column-right-or-to-monitor-right; }

    // bind Super to open launcher when feature is implemented
    // Super hotkey-overlay-title="Application Launcher" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }

    // set these env variables, must be acessable from /usr/bin
    Mod+T { spawn-sh "$TERMINAL"; }
    Mod+F { spawn-sh "$FILE_MANAGER"; }
    Mod+B { spawn-sh "$BROWSER"; }

    // raise jump to 5
    Ctrl+XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "decrement" "5"; }
    Ctrl+XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "mpris" "increment" "5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "5"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "5"; }

    // unbind keys
    Mod+I { spawn "true"; }
    Mod+U { spawn "true"; }
    Mod+D { spawn "true"; }
    Mod+Ctrl+F { spawn "true"; }
    Mod+Ctrl+Left { spawn "true"; }
    Mod+Ctrl+Right { spawn "true"; }
    Mod+Shift+F { spawn "true"; }
    Mod+Shift+P { spawn "true"; }
    Mod+Shift+T { spawn "true"; }
}
