// noctalia.dkl - auto generated theme:
layout {

    focus-ring {
        active-color   "{{colors.primary.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    border {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    shadow {
        color "{{colors.primary.default.hex}}"
    }

    tab-indicator {
        active-color   "{{colors.primary.default.hex}}"
        inactive-color "{{colors.outline.default.hex}}"
        urgent-color   "{{colors.error.default.hex}}"
    }

    insert-hint {
        color "{{colors.primary.default.hex}}80"
    }
}

recent-windows {
    highlight {
        active-color "{{colors.primary.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }
}

overview {
    backdrop-color "{{colors.surface.default.hex}}"
}
