// environment.kdl

environment {
    XDG_CURRENT_DESKTOP "niri"
    GTK_IM_MODULE "simple" // deadkeys compability on GTK apps
    QT_QPA_PLATFORMTHEME "qt6ct"
    PROTON_ENABLE_WAYLAND "1"

    // default apps
    TERMINAL "ghostty"
    FILE_MANAGER "nautilus"
    BROWSER "zen-browser"
}

debug {
    honor-xdg-activation-with-invalid-serial
}
