cursor {
    xcursor-theme "macOS-White"
    xcursor-size 24
}

layout {
    gaps 4
    always-center-single-column

    preset-column-widths {
        proportion 0.25
        proportion 0.375
        proportion 0.5
        proportion 0.625
        proportion 0.75
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    border {
        on
        width 3
    }

    focus-ring {
        on
        width 0
    }

    shadow {
        on
        softness 30
        spread 5
        color "#00000070"
        inactive-color "#00000020"
        draw-behind-window true
    }

    tab-indicator {
        on
        width 10
        gap 8
        gaps-between-tabs 8
        corner-radius 0
        length total-proportion=0.75
        position "bottom"
        place-within-column
    }

    default-column-width
}

recent-windows {
    // off
    debounce-ms 750
    open-delay-ms 150

    highlight {
        padding 16
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}

gestures {
    hot-corners {
        top-left
    }
}
prefer-no-csd
