// ================ GENERAL CONFIG ================
// ── Wayland surfaces properties ────
layer-rule {
    background-effect {
        xray false // false required for noctalia panels
        blur false
    }
}

// ── Window properties ────
window-rule {
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
    background-effect {
        blur false
        xray true
    }
}

// ================ APP CONFIG ================

// ── Noctalia Settings ────
window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { proportion 0.6; }
    default-window-height { proportion 0.75; }
    scroll-factor 1.25
}

// ================ FLOATING WINDOWS ================

// ── Floating PIP ────
window-rule {
    match app-id=r"firefox$" title="^Picture-in-Picture$"
    match app-id="zen$" title="^Picture-in-Picture$"
    open-floating true
    open-maximized true
}

// ── Floating web extension popups ────
window-rule {
    match app-id="zen$" title="^Extension.*Zen Browser$"
    open-floating true
}

// ── Floating mpv audio files ────
window-rule {
    match title=".*\\.(wav|mp3|flac|aac|ogg|m4a|opus).* - mpv"
    open-floating true
}

// ── Floating apps ────
window-rule {
    match app-id=r"org.quickshell$"
    match app-id=r"com.danklinux.dms$"

    match app-id=r"^org\.gnome\.Calculator$"
    match app-id=r"^org\.gnome\.Nautilus$"
    match app-id=r"^org\.gnome\.Loupe$"
    match app-id=r"^org\.gnome\.font-viewer$"
    match app-id=r"^gnome-calculator$"
    match app-id=r"^galculator$"
    match app-id=r"^blueman-manager$"
    match app-id=r"^xdg-desktop-portal$"
    open-floating true
}

// ================ BLUR ================

/- blur {
   passes 4
   offset 4
   noise 0.03
   saturation 1.5
}
/- window-rule {
    // match app-id="org.pwmt.zathura"
    match app-id="kitty"
    match app-id="vesktop"
    match app-id="Nautilus$"
    match app-id="Loupe$"
    match app-id="dev.noctalia.Noctalia"
    match app-id="zen"

    background-effect {
        blur true
        xray false
    }
    draw-border-with-background false
}
// ── Noctalia shell ────
/- layer-rule {
    match namespace="^noctalia-(notification|panel|attached-panel|osd)$"
    background-effect {
        blur true
    }
}
// ── No xray on floating windows ────
/- window-rule {
    match is-floating=true
    background-effect {
        xray false
    }
}
// ── Frosted Glass effect windows ────

// ── Forced Frosted Glass effect windows  ────
/- window-rule {
    background-effect {
        blur true
    }
    opacity 0.8
}
